<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>bsong</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexSongController</servlet-name>
    <servlet-class>controller.AdminIndexSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexSongController</servlet-name>
    <url-pattern>/admin/song</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexContactsController</servlet-name>
    <servlet-class>controller.AdminIndexContactsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactsController</servlet-name>
    <url-pattern>/admin/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/admin/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteUserController</servlet-name>
    <servlet-class>controller.AdminDeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUserController</servlet-name>
    <url-pattern>/admin/user/deletes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddminDeleteContactsController</servlet-name>
    <servlet-class>controller.AdminDeleteContactsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddminDeleteContactsController</servlet-name>
    <url-pattern>/admin/contacts/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteCatController</servlet-name>
    <servlet-class>controller.AdminDeleteCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCatController</servlet-name>
    <url-pattern>/admin/cat/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUpdateCatController</servlet-name>
    <servlet-class>controller.AdminUpdateCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateCatController</servlet-name>
    <url-pattern>/admin/cat/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddSongController</servlet-name>
    <servlet-class>controller.AdminAddSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddSongController</servlet-name>
    <url-pattern>/admin/song/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteSongController</servlet-name>
    <servlet-class>controller.AdminDeleteSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteSongController</servlet-name>
    <url-pattern>/admin/song/delete</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicIndexSongController</servlet-name>
    <servlet-class>controller.PublicIndexSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexSongController</servlet-name>
    <url-pattern>/home/song</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>